header{
    background-color: darkslateblue;
    display:block;
}

header h1{
    font-size:48px;
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header ul{
    text-align:right;
}

header ul:hover{
    cursor:grab;
}

header ul li{
    display:inline;
    font-size:25px;
    margin:20px;
    color:aliceblue;
}