
body{
    position:relative;
}
header{
    background-color: rgb(66, 65, 73);
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:120px;
}

header h1{
    font-size:48px;
    color:rgb(66, 65, 73);
    height:60%;
    background-color:hsl(181, 42%, 73%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header ul{
    margin-right:50px;
}

header ul li:hover{
    cursor:grab;
}

a{
    text-decoration:none;
    color:hsl(181, 42%, 73%);
}

header ul li{
    display:inline;
    font-size:25px;
    margin:20px;
    text-decoration:underline;
    text-decoration-thickness:4px;
    text-underline-offset: 5px;
    color:hsl(181, 42%, 73%);
} 

.filler{
    display:block;
    position:relative;
    background-color:rgb(111, 111, 96);
    height:215px;
}

.subtitle{
    background-color:hsl(181, 42%, 73%);
    font-size:35px;
    font-weight:bold;
    color:rgb(66, 65, 73);
    display:block;
    float:right;
    margin-top:140px;
    margin-right:100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#about-me-img{
    height:250px;
    width 200px;
    position:absolute;
    left:20px;
    top:10px;
    border:6px solid;
    border-color:hsl(196, 69%, 32%);
}

main *{
    /* background-color:lightcoral; */
}

.grid-container{
    display:grid;
    grid: 250px 485px repeat(3, 250px) / 200px 375px 375px;
    justify-content:center;
    grid-gap:20px;
    align-content:end;
    position:relative;
}

#about-me-content{
    grid-column-start:2;
    grid-column-end:4;
    font-size:20px;
    line-height: 30px;
}

#work-title{
    grid-row-start:2;
    grid-row-end:5;
}

#work-example1{
    grid-column-start:2;
    grid-column-end:4;
    background-color:hsl(180, 41%, 24%);
    border:5px solid;
    border-color:hsl(181, 42%, 73%);
}

.example{
    background-color:hsl(180, 41%, 24%);
    border:5px solid;
    border-color:hsl(181, 42%, 73%);
    display:flex;
}

main h1{
    border-right: 4px solid;
    color:hsl(196, 69%, 32%);
    border-color:hsl(196, 69%, 32%);
    justify-self:end;
}

.subBox h2{
    font-size:27px;
    font-weight:bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subBox h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:small;
    text-align:left;
}

.subBox {
    align-self:last baseline;
    background-color:hsl(181, 42%, 73%);
    display:inline-block;
    color:hsl(196, 69%, 32%);
    padding:0px 10px;
    margin-bottom:50px;
}

#contact1{
    background-color:lightcoral;
    grid-column-start:2;
    grid-column-end:4;
}