header{
    background-color: darkslateblue;
    display:inline-block;
}

header h1{
    color:aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}